* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden !important;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.slick-arrow {
    background: #FAAA01;
    padding: 20px;
    z-index: 2;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.slick-arrow:hover {
    background: #FAAA01;
}

.slick-next {
    right: -50px;

}

.slick-prev {
    left: -50px;
}

/* Header Css Start */
.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
}

.logo {
    cursor: pointer;
}

.search_login_section {
    display: flex;
    gap: 30px;
}

.header_search_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px
}

.login_button {
    display: flex;
    cursor: pointer;
    border: none;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
}


.header_location p {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header_location p span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_search_section b {
    font-size: 14px;
}

/* Header Css End */

.hero_section {
    padding: 90px 0;
    position: relative;
}

.hero_section h1 {
    color: #FFF;
    text-shadow: 0px 27px 82px 0px rgba(255, 174, 0, 0.28), 0px 14px 15px 0px rgba(255, 174, 0, 0.01);
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.hero_section p {
    color: #504F4F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}

.order_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);

}

.order_option {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 8px;
}

.delivery_options {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #757575;
    padding: 20px;
}

.active_option {
    color: #F17228;
    background: rgba(241, 114, 40, 0.10);
}

.order_card hr {
    width: 100%;
    background-color: #d6d0d0;
}

.order_form {
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.order_form input {
    outline: none !important;
    padding: 12px 0 12px 40px;
    border-radius: 5px;
    border: none;
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
}

.order_form_submit {
    padding: 10px 28px;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    background: linear-gradient(138deg, #FF7A7A 0%, #F65900 100%);
}

.location_img {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 16px;
}


.input_location {
    position: relative;
    display: flex;
    flex: 1;
}

.banner_content {
    margin-bottom: 15px;
}

.banner_content h1 {
    margin-bottom: 10px;
}

.banner_image img {
    position: absolute;
    bottom: 0;
    right: 60px;
}

.banner_content_section {
    position: relative;
    max-width: 600px;
    z-index: 15;
}

.deal_cards_section {
    padding: 50px 0;
}

.deals_section {
    display: flex;
    justify-content: center;
    gap: 15px
}

.deal_image_section {
    /* height: 250px;
    width: 250px; */
    position: relative;
    display: flex;
}

.deal_image_section img {
    border-radius: 22px;
}

.discount_tag {
    background-color: #FFB30E;
    border-radius: 0px 22px 0px 22px;
    padding: 0px 11px;
    width: fit-content;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.offer_count {
    font-weight: bold;
    font-size: 35px;
    color: #FFF;
}

.discount_measure {
    display: flex;
    flex-direction: column;
    color: #FFF;
    line-height: 1;
}

.deal_card {
    display: flex;
    flex-direction: column;
}

.deal_card p {
    font-weight: 600;
    padding-bottom: 10px;
}

.deal_description {
    padding-top: 30px;
}

.deal_description span {
    border-radius: 8px;
    background: rgba(241, 114, 40, 0.20);
    padding: 5px 10px;
    font-weight: 700;
    color: #F17228;
    font-size: 14px;
    display: inline-block;
}

.work_wrapper {
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 0%, rgba(253, 237, 202, 0.00) 100%);
    padding: 30px 0;
}

.work_inner_wrapper {
    margin: 0 auto;
}

.work_inner_wrapper h2 {
    color: #F17228;
    text-align: center;
    margin-bottom: 30px;
}

.work_list {
    display: flex;
    gap: 16px
}

.work_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_box img {
    width: auto;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.work_box_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_box_content p {
    font-size: 12px;
    color: #9E9E9E;
    text-align: center;
}

.popular_items_section {
    padding: 50px 0;
}

/* .popular_items_section */
h2 {
    text-align: center;
    margin-bottom: 40px;
}

.popular_slider_list .slick-list {
    margin: 0 -10px;
}

.popular_slider_list .slick-slide {
    padding: 0 10px;
}

.popular_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular_item_content {
    padding-top: 10px;
}

.popular_item img {
    /* height: 150px; */
    width: 100%;
    border-radius: 10px;
}

.popular_item_location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.popular_item_location img {
    width: 15px;
    height: 15px;
}

.popular_item_location span {
    font-size: 15px;
    color: #FFB30E;
}

.order_btn {
    display: flex;
    width: 100%;
    padding: 10px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #F17228;
    border: none;
    color: #FFF;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
}

.restaurant_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
}

.restaurant_card {
    display: flex;
    flex-direction: column;
}

.card_content {
    display: flex;
    padding-top: 15px;
}

.inner_content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner_content p {
    color: #424242;
    font-size: 14px;
    font-weight: 700;
}

.inner_content span {
    display: flex;
    align-items: center;
    color: #FFB30E;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    gap: 5px;
}

.inner_content span b {
    margin-top: 2px;
}

.card_content:first-child {
    width: 20px;
    height: 20px;
}

.restaurant_card:first-child {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}